* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; 
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #f4f1ff;
}

.sidebar {
  width: 220px;
  background: linear-gradient(180deg, #8968ff, #6c63ff);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-logo img {
  max-width: 130px;   
  width: auto;
  height: auto;
  object-fit: contain;
  background: white;
  padding: 6px;
  border-radius: 10px;
  transition: 0.3s;
}

.sidebar-logo img:hover {
  transform: scale(1.05);
}

.menu {
  list-style: none;
  flex-grow: 1; 
}

.menu li {
  border-radius: 6px;
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: bold;
}

.menu li:hover {
  background-color: #744ffb;
}

.menu li a {
  display: block;
  padding: 12px;
  border-radius: 8px;
  transition: 0.2s;
}

.menu li:hover a {
  background-color: #744ffb;
  padding-left: 16px;
}

.menu li.logout {
  background-color: #744ffb; 
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.menu li.logout:hover {
  background-color: rebeccapurple;
}

a{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.main {
  flex: 1;
  padding: 25px;
}

.topbar {
  background-color: white; 
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 25px;
  border: 1px solid #e1dbf5; 
  font-weight: bold;
  color: #2a204e;
}
@media (max-width: 480px) {
    .sidebar {
        flex-direction: column;
        align-items: stretch;
    }

    .logo {
        margin-bottom: 10px;
        text-align: center;
    }

    .menu {
        flex-direction: column;
    }

    .menu li {
        text-align: center;
    }
}